<div id="user-info" class="content-left">
  <h3><%= link_to "@#{user.username}", { controller: :users, action: :home,
            username: (user.username) } %></h3>
  <%= image_tag('owl-avatar.png') %>
  <p><%= link_to "(Edit profile)", edit_user_registration_path() %></p>
  <p><b><%= user.name %></b></p>
  <p><%= mail_to (user.email)%></p>
</div>
