<div class="row">
  <div  class="col-xs-12 col-md-3">
    <% if user_signed_in? %>
      <%= render partial: 'users/user_info', locals: { user: current_user } %>
    <% else %>
      <%= render partial: 'shared/sign_in' %>
    <% end %>
  </div>

  <div  id="hashtag-content" class="col-xs-12 col-md-6 content-mid">
    <h2><%= "Results for \##{params[:hashtag]}"%></h2>

    <% if @posts.empty? %>
      <%= render 'home/no_hoots' %>
    <% else %>
      <div id="hashtag-hoots" class="hoots">
        <%= render @posts %>
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-md-3">
    <%= render partial: 'shared/info' %>
  </div>
</div>
